.svg-icon
  &__close
    fill: var( --text )
    width: 12px
    height: 12px

  &__file
    fill: var( --text )
    width: 16px
    height: 20px

  &__pause
    fill: var( --text )
    width: 20px
    height: 24px

  &__play
    fill: var( --text )
    width: 20px
    height: 26px