html
  height: 100%
  scroll-behavior: smooth
  scrollbar-gutter: stable
  --text: #202020
  --blue-dark: #1662A9
  --blue: #1875CA
  --blue-light: #9AC8F2
  --blue-lighter: #DFEEF8
  --gray-dark: #6D7D8B
  --gray: #E1E4EB
  --gray-light: #F5F5F5
  --red: #FF0021
  --red-light: #FFE6E9
  --green: #00A35F
  --green-light: #D9F1E7

body
  height: 100%
  font-family: Montserrat, sans-serif
  font-size: 16px
  line-height: 1.5
  min-width: 375px
  overflow-x: hidden
  display: flex
  flex-direction: column
  color: var( --text )

  @media ( max-width: 767px )
    font-size: 14px

  &._overflow
    overflow: hidden

*::-webkit-scrollbar
  width: 15px
  height: 15px
  background-color: var( --gray )

  &-track
    width: 10px
    background-color: var( --gray )

  &-thumb
    border-radius: 5px
    background-color: var( --gray-dark )
    border: 2px solid var( --gray )

    &:hover
      background-color: var( --blue )

main
  flex-grow: 1

.container
  width: 100%
  max-width: 1000px
  margin: 0 auto
  padding: 0 32px

  @media ( max-width: 767px )
    padding: 0 16px

.section
  margin-bottom: 60px

  &__head
    margin-bottom: 32px

  &__foot
    margin-top: 32px

h1,
.h1
  font-size: 38px
  line-height: 1.2
  margin: 32px 0 24px

  @media ( max-width: 767px )
    font-size: 32px
    margin: 28px 0 20px

h2,
.h2
  font-size: 32px
  line-height: 1.2
  margin: 28px 0 20px

  @media ( max-width: 767px )
    font-size: 28px
    margin: 24px 0 16px

h3,
.h3
  font-size: 26px
  line-height: 1.2
  margin: 24px 0 16px

  @media ( max-width: 767px )
    font-size: 24px
    margin: 20px 0 12px

h4,
.h4
  font-size: 20px
  line-height: 1.2
  margin: 20px 0 16px

  @media ( max-width: 767px )
    font-size: 18px
    margin: 16px 0 12px

.icon-checkbox
  width: 18px
  height: 13px


.cols
  --gap: 8px

  display: flex
  flex-wrap: wrap

  &-gap
    gap: var( --gap )

  @for $i from 1 through 12
    &.col-#{$i}
      > *
        width: calc( 100% / #{$i} - var( --gap ) * (#{$i} - 1) / #{$i} )

  @media ( max-width: 1407px )
    @for $i from 1 through 12
      &.col-l-#{$i}
        > *
          width: calc( 100% / #{$i} - var( --gap ) * (#{$i} - 1) / #{$i} )

  @media ( max-width: 833px )
    @for $i from 1 through 12
      &.col-s-#{$i}
        > *
          width: calc( 100% / #{$i} - var( --gap ) * (#{$i} - 1) / #{$i} )