.text-content
  a:not([class])
    color: var( --link )
    text-decoration: underline rgba( 24, 117, 202, 0 )
    text-underline-offset: 2px
    transition: text-decoration .3s ease

    &:hover
      @media ( hover: hover )
        text-decoration-color: var( --link )

  > :first-child
    margin-top: 0 !important

  > :last-child
    margin-bottom: 0 !important

  p
    margin: 16px 0

    @media ( max-width: 767px )
      margin: 12px 0

  ul:not([class]),
  ol:not([class])
    display: flex
    flex-direction: column
    gap: 8px
    margin: 24px 0

    @media ( max-width: 767px )
      margin: 16px 0

    > li
      padding-left: 24px
      position: relative

      &:last-child
        > ul:not([class]),
        > ol:not([class])
            margin-bottom: 0

  ul:not([class])
    > li
      &:before
        content: ''
        position: absolute
        top: 10px
        left: 4px
        display: block
        width: 4px
        height: 4px
        border-radius: 2px
        background-color: var( --blue )

  ol:not([class])
    counter-reset: num

    > li
      &:before
        position: absolute
        top: 0
        left: 0
        color: var( --blue )
        content: counters( num, '.' ) ' '
        counter-increment: num
        display: block

    ol:not([class])
      > li
        padding-left: 32px

  .table-wrapper
    overflow: auto
    margin: 32px 0

  table
    width: 100%
    border-collapse: collapse

    @media ( max-width: 767px )
      margin: 16px 0

    th,
    td
      border: 1px solid var( --gray-light )
      padding: 16px

    th
      font-weight: 600
      font-size: 20px