.tile-list
  display: flex
  gap: 32px
  flex-wrap: wrap

.tile-item
  flex: 0 0 calc( 33.333333% - 32px * 2 / 3 )
  background-color: #9AC8F2
  aspect-ratio: 16 / 9

.pagination-more
  flex: 0 0 100%
  text-align: center